
<div class="ui segment">
               <ul>
                   <li><%= link_to "unread message",unread_path  %></li>
  
                   <li><%= link_to " read message", all_path %> </li>
              </ul>

 </div> 

<div class="ui segment">
 <h3>All Users</h3>
  <div class="ui list">
   <% @users.each do |user| %>
<% if current_user.is_friend?(user) %>
    <% if user.id != current_user.id %>
     <div class="item">

   <%= user.name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
 </div>
  <% end %>
 <% end %>
 <% end %>
 </div>
</div>

