<h1> Find Friends </h1>

<table class="table">
  <thead class="thead thead-default">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
      
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name%></td>
          <td><%= user.email %></td>
          
          <td><%= time_ago_in_words user.created_at%></td>

          <td>
            <%= link_to "Add Friend", friendships_path(:user_id => user), :method => :post, class: "btn btn-primary" %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>