<h1> Sent Messages </h1>
<% @sent_messages.each do |sent_message| %>
<br>
 <%= 'Receipient:' + User.find_by_id(sent_message.conversation.recipient_id).name %>
 <br>
 <strong><%= sent_message.body %></strong>
 <br>
 <%= time_ago_in_words sent_message.created_at %>
 <br/>  
<% end %>

